code {
  -webkit-text-size-adjust: 100%;
  border-radius: 5px;
  padding-inline: 0.2em;
  padding-block: 0.1em;

  mark {
    display: block;
    filter: brightness(110%);
    background-color: var(--codeblock-highlight);
    color: inherit;
}

  table {
      margin: 0rem;
      padding: 0rem;
      border-collapse: collapse;
      border-spacing: 0rem;
      width: 100%;
      text-align: start;
      color: inherit;
      background-color: inherit;

      td,
      th,
      tr {
          border: none;
          padding: 0rem;
          margin: 0rem;
          background-color: inherit;
          color: inherit;
      }



      // Line number col.
      tbody td:first-child {     
             padding-inline-start: 0.5rem;
          color: inherit;
          opacity: 100%;
          padding-inline-end: 0.8rem;
          width: 1px;  // Without this, iOS Safari centres short lines.
          user-select: none;
          text-align: end;
      }


  }
}



pre {
  display: block;
  position: relative;
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block-start: 2.4rem;
  padding-block-end: 1rem;
  overflow: hidden;
  overflow-x: auto;
  line-height: 1.4;

  code,
  code td {
      font-size: 0.9rem;  // Fits ~77 characters.
  }

  // Supports both native Zola way of adding src, and old shortcode-based logic.
  // See: https://github.com/welpo/tabi/pull/489
  &::after,
  code .source-path {
      display: block;
      position: absolute;
      top: 0;
      inset-inline-end: 1.3rem;
      padding-top: 0.3rem;
      padding-inline-end: 1.3rem;
      max-width: calc(100% - 14em);
      height: 1.4rem;
      overflow: hidden;
      content: attr(data-name);
      font-size: 0.65rem;
      text-align: end;
      text-overflow: ellipsis;
      white-space: nowrap;
  }

  code {
      display: block;
      border: 0rem;
      border-radius: 5px;
      padding: 0rem;
      overflow-x: auto;
      white-space: pre;

      &::before {
          display: block;
          position: absolute;
          top: 0;
          inset-inline-start: 0;
          padding: 0.3rem;
          padding-inline-start: 1rem;
          width: calc(100% - 1.3rem);
          height: 0.9rem;
          content: attr(data-lang);
          font-size: 0.65rem;
          text-align: start;
          text-transform: uppercase;
      }
  }
}

// Default to LTR codeblocks.
code, pre {
  direction: ltr;
}

// Allows RTL codeblocks if `force_codeblock_ltr` is set to false.
html[data-code-direction="inherit"] {
  code, pre {
      direction: inherit;
  }
}
